<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>textWeb</title>
    </head>
    <body>
        <h1>TextWeb!</h1>
        Get that page minified:
        <form action="/text" method="get">
            <input type="text" name="url" />
            <input type="submit" value="Go!" />
        </form>
        <p></p>
        Search the Web:
        <form action="/search" method="post">
            <input type="text" name="search" />
            <input type="submit" value="Search!" />
        </form>
        <a href="/sites"/>Other Text-Only Sites</a>
    </body>
</html>